$margin: 25px 0;
$border-radius: 10px;
$fondo: #fff;
$title: 15px;
$orange: #ff6e02;
$green: #1DD18F;
$red: #d0021b;
$color-text: #484848;
$light-black: #706A6A;
$dark-black: #494646;
$black: #000;
$fondo-first: #f2f2f2;
$yellow: #FEB900;
$dark-green: #4dae4f;
$light-blue: #4FB3F1;